[package]
name = "miniserde"
version = "0.1.24"
authors = ["David Tolnay <dtolnay@gmail.com>"]
description = "Data structure serialization library with several opposite design goals from Serde."
documentation = "https://docs.rs/miniserde"
edition = "2018"
exclude = ["benches"]
license = "MIT OR Apache-2.0"
readme = "README.md"
repository = "https://github.com/dtolnay/miniserde"
rust-version = "1.36"

[dependencies]
itoa = "1.0"
mini-internal = { version = "=0.1.24", path = "derive" }
ryu = "1.0"

[dev-dependencies]
automod = "1.0"
rustversion = "1.0"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
trybuild = { version = "1.0.49", features = ["diff"] }

[workspace]
members = ["derive", "tests/crate"]

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[features]
default = ["std"]
std = []
